<div class="menu-bar__container">
	<div class="menu-bar__logo">
		<img
			src="assets/ps-logo.png"
			alt="playstation logo"
			srcset=""
			width="190px"
			height="42px"
		>
	</div>
	<div class="menu-bar__item">
		<ul>
			<li><a href="index.html">BIBLIOTECA</a></li>
			<li><a href="#">FAVORITOS</a></li>
			<li><a href="#">BEST-SELLERS</a></li>
			<li><a href="#">MINHAS COMPRAS</a></li>
			<li><a href="#">MEU CARRINHO</a></li>
			<li><a href="#">PERFIL</a></li>
			<li><a href="https://www.linkedin.com/in/alisson-lopes-553740203/">LINKEDIN</a></li>
			<li><a href="https://github.com/all-bd">GITHUB</a></li>
		</ul>
	</div>
</div>
